.message {
  font-size: var(--font-size-xs);
}

.error {
  color: var(--color-error);
}

.info {
  color: var(--color-info);
}

.warning {
  color: var(--color-warning);
}

.success {
  color: var(--color-success);
}
