@use "sass:color";
@use "@/styles/mixins" as m;

.alert {
  @include m.flex-between;
  border-radius: var(--radius-md);
  padding: var(--spacing-sm) var(--spacing-md);
  border-width: 2px;
  border-style: solid;

  [type="button"] {
    padding: 0;
  }
}

.error {
  border-color: var(--color-error);
  background-color: color.adjust(#e53e3e, $lightness: 7%);
  color: var(--color-error);
}

.info {
  border-color: var(--color-info);
  background-color: color.adjust(#1d72b8, $lightness: 7%);
  color: var(--color-info);
}

.warning {
  border-color: var(--color-warning);
  background-color: color.adjust(#d97706, $lightness: 7%);
  color: var(--color-warning);
}

.success {
  border-color: var(--color-success);
  background-color: color.adjust(#2f9e44, $lightness: 7%);
  color: var(--color-success);
}
