@use "@/styles/mixins" as m;

.page {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: var(--spacing-xl);
  height: 100%;
}

.titleWrapper {
  @include m.flex-between;

  > [type="button"] {
    color: var(--color-accent);
  }
}

.pageContentWrapper {
  display: grid;
  gap: var(--spacing-lg);

  > :nth-child(2) {
    align-self: end;
  }
}

.title {
  font-size: var(--font-size-3xl);
  font-weight: var(--font-weight-bold);
  color: var(--color-text);
  margin: 0;
}

.grid {
  align-self: start;

  @include m.grid(1, var(--spacing-md));

  @include m.respond-to("sm") {
    @include m.grid(2, var(--spacing-md));
  }

  @include m.respond-to("lg") {
    @include m.grid(3, var(--spacing-md));
  }
}
