@use "@/styles/mixins" as m;

.page {
  display: grid;
  gap: var(--spacing-xl);
  align-content: start;
}

.title {
  font-size: var(--font-size-3xl);
  font-weight: var(--font-weight-bold);
  color: var(--color-text);
  margin: 0;
}

.grid {
  @include m.grid(1, var(--spacing-md));

  @include m.respond-to("sm") {
    @include m.grid(2, var(--spacing-md));
  }

  @include m.respond-to("lg") {
    @include m.grid(3, var(--spacing-md));
  }
}
