@use "@/styles/mixins" as m;

.toggle {
  --size: 40px;
  @include m.flex-center;
  @include m.focus-ring;

  background: transparent;
  border: 1px solid var(--color-border);
  color: var(--color-text);
  width: var(--size);
  height: var(--size);

  &:hover {
    border-color: var(--color-accent);
    color: var(--color-accent);
  }
}
