@use "@/styles/mixins" as m;

.page {
  display: grid;
  gap: var(--spacing-xl);
  align-content: start;
}

.grid {
  @include m.grid(2, var(--spacing-md));

  @include m.respond-to("sm") {
    @include m.grid(3, var(--spacing-md));
  }

  @include m.respond-to("lg") {
    @include m.grid(5, var(--spacing-md));
  }
}

.link {
  display: inline-flex;
  align-items: center;
  gap: var(--spacing-sm);
  color: var(--color-accent);
  margin-inline-start: auto;

  &:hover::after {
    width: 0;
  }
}
